@page "/"
@rendermode InteractiveServer
@using System.Timers
@using Microsoft.AspNetCore.Mvc
@using Pattern



<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>GameRent</title>
  <link href="style.css" rel="stylesheet" />
</head>


<!-- Header -->
<header class="header">
  <h1 class="logo">GAME<span class="text-purple">RENT</span></h1>
  <nav class="nav">
    <button class="btn-active"><a href="https://localhost:7118/">Главная</a></button>
    <a href="https://localhost:7118/weather">Каталог</a>
    <a href="https://localhost:7118/rent">Аренда</a>
  </nav>
</header>

<!-- Carousel -->
<div class="carousel">
  
  <img  src="@Images[currentSlide]" alt="Silent Hill 2" style="animation: transform 3s ease-out"/>
  <button class="arrow" @onclick="NextSlide">&gt;</button>

</div>

<!-- Section Title -->
<div class="section-title">ЧЕСТНАЯ АРЕНДА ИГР</div>

<!-- Catalog -->
<section class="catalog">
  <div class="catalog-label">Каталог</div>
  <div class="catalog-grid">
    <div class="game-card">
      <img src="https://igroarenda.ru/image/cache/catalog/reviews/elddd-500x500.jpg" alt="Horizon" />
      <p>Horizon Zero Dawn Remastered PS5</p>
      <p class="price">449 руб</p> <button class="arenda"> Арендовать </button>
    </div>
    <div class="game-card">
      <img src="https://igroarenda.ru/image/cache/catalog/hzz-500x500.jpg" alt="Elden Ring" />
      <p>ELDEN RING NIGHTREIGN PS4 & PS5</p>
      <p class="price">899 руб</p> <button class="arenda"> Арендовать </button>
    </div>
    <div class="game-card">
      <img src="https://igroarenda.ru/image/cache/catalog/alien-500x500.jpg" alt="Alien" />
      <p>Alien: Isolation</p>
      <p class="price">99 руб</p> <button class="arenda"> Арендовать </button>
    </div>
  </div>
  <div class="more-link"><a href="https://localhost:7118/weather">Далее &gt;</a></div>
</section>

<!-- Contact -->
<footer class="footer">
  <h2>СВЯЗЬ</h2>
  <div class="contacts">
    <span>Telegram</span>
  </div>
  <span class="contacts">GameRent@gmail.com</span>
  <div class="contacts">
    <span>+79613847822</span>
  </div>
  <div class="payments">
    <img src="https://igroarenda.ru/catalog/view/theme/nextdef/image/payments.png" />
        
  </div>
    
</footer>



@code{

  private List<string> Images = new List<string>
  {

    "https://igroarenda.ru/image/cache/catalog/sill11-1162x480.jpg",
    "https://igroarenda.ru/image/cache/catalog/forza-horizon-5-premium-edition-1162x480.jpg",
    "https://cdn-st3.vigbo.com/u5397/19943/blog/5555389/5007893/88716673/2000-economicus-74901e86f1f19bec0b9d6d7e2d09b77f.jpg"
  };

  private int currentSlide = 0;
  private string transliteX => $"-{currentSlide * 100}%";
  public Timer _timer = new Timer(2000);

  protected override void OnInitialized()
  {
    _timer.Elapsed += sosi;
    _timer.Start();
  }

  public async void sosi(Object source, ElapsedEventArgs e)
  {
    currentSlide = (currentSlide + 1) % Images.Count;
    await InvokeAsync(StateHasChanged);
  }

  private void PreviousSlide()
  {
    currentSlide = (currentSlide - 1 + Images.Count) % Images.Count;
  }

  private void ChangeSlider(object state)
  {
    currentSlide = (currentSlide + 1) % Images.Count;
  }

  private void NextSlide()
  {
    currentSlide = (currentSlide + 1) % Images.Count;
  }
  
  }
}