@page "/Rent"
@rendermode InteractiveServer
<header class="header">
    <h1 class="logo">GAME<span class="text-purple">RENT</span></h1>
    <nav class="nav">
        <a href="https://localhost:7118/">Главная</a>
        <a href="https://localhost:7118/weather">Каталог</a>
       <button class="btn-active"> <a href="https://localhost:7118/rent">Аренда</a></button>
       
    </nav>
</header>
<div class="text"> Ваше имя </div>
<input type="text" class="btn-acti"/>
<div class="text"> Ваша фамилия </div>
<input type="text" class="btn-acti"/>
<div class="text"> Электронная почта</div>
<input type="text" class="btn-acti"/>
<div class="text" > Номер телефона </div>
<input type="text" class="btn-acti"/>